<div class="row">
  <div class="col-12 col-md-6 p-2">
    <h2>Pipes de texto:</h2>
    <hr />
    <app-texto></app-texto>
  </div>
  <div class="col-12 col-md-6 p-2">
    <h2>Pipes de numeros:</h2>
    <hr />
    <app-numeros></app-numeros>
  </div>
  <div class="col-12 col-md-6 p-2">
    <h2>Pipes de fecha:</h2>
    <hr />
    <app-fecha></app-fecha>
  </div>
  <div class="col-12 col-md-6 p-2">
    <h2>Pipes de json:</h2>
    <hr />
    <app-json></app-json>
  </div>
  <div class="col-12 col-md-6 p-2">
    <h2>Pipes de keyvalue:</h2>
    <hr />
    <app-keyvalue></app-keyvalue>
  </div>
  <div class="col-12 col-md-6 p-2">
    <h2>Pipes de slice:</h2>
    <hr />
    <app-slice></app-slice>
  </div>
  <div class="col-12 col-md-6 p-2">
    <h2>Pipes de i18n-select:</h2>
    <hr />
    <app-i18n-select></app-i18n-select>
  </div>
  <div class="col-12 col-md-6 p-2">
    <h2>Pipes de i18n-plural:</h2>
    <hr />
    <app-i18n-plural></app-i18n-plural>
  </div>
  <div class="col-12 col-md-6 p-2">
    <h2>Pipes de async:</h2>
    <hr />
    <app-async></app-async>
  </div>
</div>

